@model Event.Data.Objects.Entities.Note
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <a href="@Url.Action("Index")"><span aria-hidden="true">&times;</span></a>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Staff</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditNotesModal", Model);
                }
            </div>
            </div>
        </div>
    </div>
