@model Event.Data.Objects.Entities.VendorImage
@{ var image = Model;}
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Upload Image One</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageOne", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Upload Image Two</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageTwo", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel3">Upload Image Three</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageThree", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">Upload Image Four</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageFour", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel5">Upload Image Five</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageFive", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel6">Upload Image Six</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageSix", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel7">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel7">Upload Image Seven</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageSeven", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel8">Upload Image Eight</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageEight", image);
                }
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel9">Upload Image Nine</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageNine", image);
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel10">Upload Image Ten</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("VendorImagePartial/ImageTen", image);
                }
            </div>
        </div>
    </div>
</div>
