@using System.Web.Mvc.Html
@model Event.Data.Objects.Entities.VendorImage
    @{ var images = Model;}
@if (images != null)
{
    <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel11">Update Image One</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageOne", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel12">Update Image Two</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageTwo", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel13">Update Image Three</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageThree", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel14">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel14">Update Image Four</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageFour", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel15">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel15">Update Image Five</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageFive", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel16">Update Image Six</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageSix", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel17">Update Image Seven</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageSeven", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel18">Update Image Eight</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageEight", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel19">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel19">Update Image Nine</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageNine", images);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel20">Update Image Ten</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("VendorImagePartial/EditImageTen", images);
                    }
                </div>
            </div>
        </div>

    </div>
                        }
