@model Event.Data.Objects.Entities.Prospect
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("FollowUp", "Prospects", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.ProspectId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        <textarea name="Message"></textarea>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Send Message" class="btn btn-default"/>
        </div>
    </div>
}